html {
    -webkit-tap-highlight-color: unset !important;
}

.phx-connected {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

main {
  max-height: calc(100vh - 48px);
}

dialog {
  position: relative;
  border: 1px solid #6b21a8;
  padding: 20px;
  border-radius: 8px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding-top: 48px;
  box-shadow: 0 0 10px 0px #6b21a8;  
}

dialog::backdrop {
  background-color: #6b21a850;
}

dialog::before {
  content: attr(data-title) !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding: 0.5rem;  
  color: white;
  font-weight: bolder;
}

dialog .close {
  position: absolute;
  top: 11px;
  right: 6px;
  color: white;
}

button.small-button {
  min-width: 6rem;
}

input[required], select[required] {
  outline-width: 1px;
  outline-color: blueviolet;
  outline-style: solid;
}

.h-fit-content {
  height: fit-content;
}

.min-w-64 {
  min-width: 16rem;
}

.w-80 {
  width: 20rem;
}
.w-96 {
  width: 24rem;
}

.ace_editor {
  width: 60vw;
  height: 70vh;
}

.editor-status-bar {
  padding-top: 4px;
  padding-bottom: 4px;
}

#bobot_editor.readonly::before, #bobot_editor.readonly .editor-status-bar {
  background-color: black;
  color: darkgray;
}

#bobot_editor.readonly {
  filter: grayscale(0.5) blur(0.4px) contrast(1); 
}

#current-bot-info {
 box-shadow: 0 0 10px 0px #bb83ff;   
 transform-origin: top right;
}


/* Animations */

.minimized {
  animation: minimize;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.6,-0.28,.74,.05);
}

.maximized {
  animation: maximize;
  animation-duration: 0.1s;  
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.95,.05,.8,.04);
}

.animate-color {
  animation: animate-color;
  animation-duration: 1s;  
  animation-iteration-count: infinite;
}

@keyframes minimize {
  0% {
    transform: scaleX(1) scaleY(1);
    outline: 0px solid #581c87;
  }
  99% {
    outline: 0px solid #581c87;
  }
  100% {
    transform: scaleX(0.1) scaleY(0.03);
    outline: 50px solid #581c87;
  }
}

@keyframes maximize {
  0% {
    transform: scaleX(0.1) scaleY(0.03);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes animate-color {
  0% {
  }
  50% {
    background-color: #c81010;
    box-shadow: 0 0 2px 2px black;
  }
  100% {
  }
}

/* Icons */ 

.hero-binary {
  --hero-binary: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor" aria-hidden="true" data-slot="icon"><path d="M29.6,12.7c-0.1-0.5-0.6-0.8-1.1-0.8c-1.2,0.2-2.4-0.4-3-1.5c-0.6-1-0.5-2.4,0.2-3.3c0.3-0.4,0.3-1-0.1-1.3 C24,4.3,22.1,3.2,20,2.6c-0.5-0.1-1,0.1-1.2,0.6C18.3,4.3,17.2,5,16,5s-2.3-0.7-2.8-1.8C13,2.7,12.5,2.4,12,2.6 C9.9,3.2,8,4.3,6.4,5.9C6,6.2,6,6.8,6.3,7.2c0.7,1,0.8,2.3,0.2,3.3c-0.6,1-1.8,1.6-3,1.5c-0.5-0.1-1,0.3-1.1,0.8 C2.1,13.8,2,14.9,2,16s0.1,2.2,0.4,3.3C2.5,19.8,3,20.1,3.5,20c1.2-0.2,2.4,0.4,3,1.5c0.6,1,0.5,2.4-0.2,3.3c-0.3,0.4-0.3,1,0.1,1.3 c1.6,1.5,3.6,2.7,5.7,3.3c0.5,0.1,1-0.1,1.2-0.6c0.5-1.1,1.6-1.8,2.8-1.8s2.3,0.7,2.8,1.8c0.2,0.4,0.5,0.6,0.9,0.6 c0.1,0,0.2,0,0.3,0c2.1-0.6,4.1-1.8,5.7-3.3c0.4-0.4,0.4-0.9,0.1-1.3c-0.7-1-0.8-2.3-0.2-3.3c0.6-1,1.8-1.6,3-1.5 c0.5,0.1,1-0.3,1.1-0.8c0.3-1.1,0.4-2.2,0.4-3.3S29.9,13.8,29.6,12.7z M11.7,18.3c0.4,0.4,0.4,1,0,1.4C11.5,19.9,11.3,20,11,20 s-0.5-0.1-0.7-0.3l-3-3c-0.4-0.4-0.4-1,0-1.4l3-3c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4L9.4,16L11.7,18.3z M18.9,12.4l-4,8 C14.7,20.8,14.4,21,14,21c-0.2,0-0.3,0-0.4-0.1c-0.5-0.2-0.7-0.8-0.4-1.3l4-8c0.2-0.5,0.8-0.7,1.3-0.4C18.9,11.4,19.1,12,18.9,12.4z      M24.7,16.7l-3,3C21.5,19.9,21.3,20,21,20s-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l2.3-2.3l-2.3-2.3c-0.4-0.4-0.4-1,0-1.4 s1-0.4,1.4,0l3,3C25.1,15.7,25.1,16.3,24.7,16.7z"/></svg>');
  --hero-binary: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="transparent" stroke="currentColor" aria-hidden="true" data-slot="icon"><polyline points="2.75 4.75,2.75 1.75,8.25 1.75,13.25 6.75,13.25 14.25,2.75 14.25"/><rect height="3.5" width="3" y="7.75" x="1.75"/><path d="m7.25 11.25h3m-3-3.5h1.5v3"/></svg>');
  -webkit-mask: var(--hero-binary);
  mask: var(--hero-binary);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: currentColor;
  vertical-align: middle;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  scale: 0.9;
}

