html {
    -webkit-tap-highlight-color: unset !important;
}

.phx-connected {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

dialog {
  position: relative;
  border: 1px solid #6b21a8;
  padding: 20px;
  border-radius: 8px;
  padding-top: 48px;
  box-shadow: 0 0 10px 0px #6b21a8;  
}

dialog::backdrop {
  background-color: #6b21a850;
}

dialog::before {
  content: attr(data-title) !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding: 0.5rem;  
  color: white;
  font-weight: bolder;
}

dialog .close {
  position: absolute;
  top: 11px;
  right: 6px;
  color: white;
}

input[required], select[required] {
  outline-width: 1px;
  outline-color: blueviolet;
  outline-style: solid;
}

.h-fit-content {
  height: fit-content;
}

.ace_editor {
  width: 60vw;
  height: 70vh;
}


#current-bot-info {
 box-shadow: 0 0 10px 0px #bb83ff;   
 transform-origin: top right;
}


/* Animations */

.minimized {
  animation: minimize;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.6,-0.28,.74,.05);
}

.maximized {
  animation: maximize;
  animation-duration: 0.1s;  
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.95,.05,.8,.04);
}

@keyframes minimize {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: scaleX(0.1) scaleY(0.03);
  }
}

@keyframes maximize {
  0% {
    transform: scaleX(0.1) scaleY(0.03);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}