<form phx-submit="save:deflib">
  <ul class="mb-5">
    <li>
      <.input name="name" label="LIB name" required pattern="[a-z]+" 
        placeholder="You can use a-z"/>
    </li>
  </ul>
  <.small_button class="float-right" icon="hand-thumb-up-solid" type="submit">
    Save
  </.small_button>
</form>