<form phx-submit="save:pseudoblock">
  <.input_hidden name="ope" value="put" />
  <ul class="mb-5">
    <li>
      <.input name="text" label="Block description" required  placeholder="Description..."/>
    </li>
  </ul>
  <.small_button class="float-right" icon="hand-thumb-up-solid" type="submit">
    Add
  </.small_button>
</form>